li:hover{
	background-color: lightgray;

}

li, input[type=text] {
	color:#000;
}

.highlighted {
   background-color: yellow;
}



/* override bootsrap lame borders and radius on the buttons */
.btn
{	border:none;
    outline:0px !important;
    -wsebkit-appearance:none;
}
.btn:hover
{	
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	border: 0px;
}

/* use these colors */

/*
* menu color :#4b89b2;
* text color :#e9e9e9;
* background :#ccc;
*
*/
