li:hover {
    background-color: lightgray;
    cursor: pointer;
}
li,
input[type=text] {
    color: #000;
}
input[type=text] {
    width: 100%;
    !important
}
ul {
    list-style: none;
}
td {
    border-left: 1px solid #ccc;
}
.highlighted {
    background-color: yellow;
}
.record-highlight {
    sheight: 50px;
    background-color: #C9CDF0;
    smargin: 10px;
    spadding: 10px;
    swidth: 200px;
    solor: #fff;
}
.dropdown-menu {
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
}

/* override bootsrap lame borders and radius on the buttons */
.btn {
    border: none;
    outline: 0px !important;
    -wsebkit-appearance: none;
}
.btn:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: 0px;
}
.table {
    color: #000;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
}
#orga-id {
    color: #646FE8;
    font-weight: bold;
}
.content {
    font-weight: normal;
}
